.gree-section {
    margin-bottom: 20px;
}

.box {
    display:flex;
    flex-direction: column;
    margin-left: 30%;
    padding-top: 25px;
    font-family: "Montserrat", sans-serif;
}

select {
    background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#gender-label {
    margin-right: 10px; /* Adjust space between label and select box */
    font-size: 14px; /* Optional: Adjust font size to match input placeholder text */
  }

.main-page
{
    background-image: url('pixelcut-export (1).png');/* Prevents the image from repeating */        
    overflow: hidden;    
    height: 100vh;
}